USE [master]
GO
/****** Object:  Database [DBLibrary]    Script Date: 07.06.2021 13:29:55 ******/
CREATE DATABASE [DBLibrary]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBLibrary', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SETMA\MSSQL\DATA\DBLibrary.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBLibrary_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SETMA\MSSQL\DATA\DBLibrary_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBLibrary].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBLibrary]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 07.06.2021 13:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[author] [nvarchar](50) NOT NULL,
	[category] [int] NULL,
	[tag] [int] NULL,
	[photo] [image] NULL,
	[reader] [int] NULL,
	[shielf] [int] NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoryes]    Script Date: 07.06.2021 13:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoryes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nameCat] [nvarchar](50) NULL,
 CONSTRAINT [PK_Categoryes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reader]    Script Date: 07.06.2021 13:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reader](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [nvarchar](50) NOT NULL,
	[lastName] [nvarchar](50) NOT NULL,
	[patronymic] [nvarchar](50) NULL,
	[dateOfReg] [date] NULL,
	[dateOfBirth] [date] NULL,
 CONSTRAINT [PK_Reader] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shielfs]    Script Date: 07.06.2021 13:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shielfs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Shielfs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 07.06.2021 13:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nameTag] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Categoryes] ON 

INSERT [dbo].[Categoryes] ([id], [nameCat]) VALUES (1, N'Историческая')
INSERT [dbo].[Categoryes] ([id], [nameCat]) VALUES (2, N'Боевик')
INSERT [dbo].[Categoryes] ([id], [nameCat]) VALUES (3, N'Триллер')
SET IDENTITY_INSERT [dbo].[Categoryes] OFF
GO
SET IDENTITY_INSERT [dbo].[Reader] ON 

INSERT [dbo].[Reader] ([id], [firstName], [lastName], [patronymic], [dateOfReg], [dateOfBirth]) VALUES (1, N'Денис', N'Петров', N'Алексееввич', CAST(N'2021-01-20' AS Date), CAST(N'2002-08-02' AS Date))
INSERT [dbo].[Reader] ([id], [firstName], [lastName], [patronymic], [dateOfReg], [dateOfBirth]) VALUES (2, N'Олег', N'Климов', N'Евгеньевич', CAST(N'2021-06-03' AS Date), CAST(N'2002-01-11' AS Date))
SET IDENTITY_INSERT [dbo].[Reader] OFF
GO
SET IDENTITY_INSERT [dbo].[Shielfs] ON 

INSERT [dbo].[Shielfs] ([id], [name]) VALUES (1, N'1с1п')
INSERT [dbo].[Shielfs] ([id], [name]) VALUES (2, N'1с2п')
INSERT [dbo].[Shielfs] ([id], [name]) VALUES (3, N'1с3п')
SET IDENTITY_INSERT [dbo].[Shielfs] OFF
GO
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([id], [nameTag]) VALUES (1, N'Современная литература')
INSERT [dbo].[Tags] ([id], [nameTag]) VALUES (2, N'Зарубежная литература')
INSERT [dbo].[Tags] ([id], [nameTag]) VALUES (3, N'Классическая литература')
SET IDENTITY_INSERT [dbo].[Tags] OFF
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Categoryes] FOREIGN KEY([category])
REFERENCES [dbo].[Categoryes] ([id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Categoryes]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Reader] FOREIGN KEY([reader])
REFERENCES [dbo].[Reader] ([id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Reader]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Shielfs] FOREIGN KEY([shielf])
REFERENCES [dbo].[Shielfs] ([id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Shielfs]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Tags] FOREIGN KEY([tag])
REFERENCES [dbo].[Tags] ([id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Tags]
GO
USE [master]
GO
